*{margin: 0; padding: 0;}
.header{
    width: 100%;
    height: 70px;
    position: static;
}
.container{
    max-width: 100px;
    margin: auto;
}
.logo{
    float: left;
    line-height: 100px;
    margin-top: 13px;
}
.usa{
    float: right;
    line-height: 100px;
    margin-top: 15px;   
}
.usa img{
    width: 50px;
    height: 50px;
}
.espana{
    float: right;
    line-height: 100px;
    margin-top: 15px;
}
.espana img{
    width: 50px;
    height: 50x;
}
.menu{
    text-align: center;
    float: left;
    line-height: 90px;
    width: 100%;
    background-color: #045184;
}

.menu ul{
    display: flex;
    list-style: none;
}
.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 500ms ease;
}

.menu a:hover{
    background: #FFFFFF;
    color: black;
}
.menu .submenu{
    background: #3A669B;
    display: none;
}
.menu .submenu li a{
    line-height: 50px;
}
.footer{
    background: black;
    width: 100%;
    height: 70px;
    bottom: 0;
    text-align: center;
    color:white;
}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
}
.fondo img{
    width: 100%;
}




.grcriesgosyoportunidades{
    margin: 0 15% 0 15%;
}
.grcriesgosyoportunidades h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
} 
.grcriesgosyoportunidades h3{
    color:black;
    font-family: serif;
    font-size: 25px;
}
 .texto{
    margin: 0 15% 0 15%;
 }
.texto p{
text-align: justify;
}



.prevenciondefraude{
    margin: 0 15% 0 15%;
}
.prevenciondefraude h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
} 
.prevenciondefraude h3{
    color:black;
    font-family: serif;
    font-size: 25px;
}
 .textoprevenciondefraude{
    margin: 0 15% 0 15%;
 }
.texto p{
text-align: justify;
}



.cumplimientopld h3{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
} 
.cumplimientopld h1{
    color:black;
    font-family: serif;
    font-size: 25px;
}
 .textocumplimientopld{
    margin: 0 15% 0 15%;
 }
 .cumplimientopld{
    margin: 0 15% 0 15%;
 }
.textocumplimientopld{
text-align: justify;
}




.auditoriacontinua{
    margin: 0 15% 0 15%;
}
.auditoriacontinua h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
} 



.grcriesgosyoportunidades{
    margin: 0 15% 0 15%;
}
.textogrcriesgosyoportunidades h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
} 




.negocio{
    margin: 0 15% 0 15%;
}
.textonegocio h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
} 
.textonegocio{
    margin: 0 15% 0 15%;
     
 }
.textonegocio p{
text-align: justify;
}




.comercio{
    margin: 0 15% 0 15%;
}
.textocomercio h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
} 
.textocomercio{
    margin: 0 30% 0 30%;
     
 }
.textocomercio p{
text-align: justify;
}




.calendario{
    margin: 0 15% 0 15%;
}
.textocalendario h1{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
} 
.textocalendario{
    margin: 0 15% 0 15%;
     
 }
.textocalendario p{
    text-align: justify;
}



.soluciones{
    margin: 0 15% 0 15%;
}

.soluciones p{
    text-align: justify;
}



.elearningservices{
    margin: 0 15% 0 15%;
}
.elearningservices h1{
    color:yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
   
.elearningservices p{
text-align: justify;
}




.cursosq42020{
    margin: 0 15% 0 15%;
}

.cursosq42020 h1{
    color:yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
   
.cursosq42020 h1{
    text-align: justify;
}





.podcast{
    margin: 0 15% 0 15%;
}

.podcast h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.textopodcast{
    margin: 0 15% 0 15%;
}
.podcast h1{
    text-align: justify;
}



.casosdeestudio{
    margin: 0 15% 0 15%;
}
.casosdeestudio h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.textocasosdeestudio{
    margin: 0 15% 0 15%;
}
.casosdeestudio h1{
    text-align: justify;
}



.eventos{
    margin: 0 15% 0 15%;
}
.eventos h1{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
.textoeventos{
    margin: 0 15% 0 15%;
}
.eventos h1{
    text-align: justify;
}
.imagenesm img{
    padding: 0 0 0 0;
    width: 100%;
    height: 25%;
}